[Unit]
Description=elasticsearch container
Requires=soc-network.service
After=soc-network.service

[Container]
ContainerName=elasticsearch
Image=docker.io/elastic/elasticsearch:9.2.1
Network=soc.network
Volume=esdata:/usr/share/elasticsearch/data:Z
Environment=discovery.type=single-node
Environment=xpack.ml.enabled=false
Environment=xpack.security.enabled=false
Environment=logger.org.elasticsearch.discovery=ERROR

[Install]
WantedBy=multi-user.target