[Unit]
Description=postgresql container
Requires=soc-network.service
After=soc-network.service

[Container]
ContainerName=postgres
Image=docker.io/library/postgres:latest
Network=soc.network
Volume=postgres.volume:/var/lib/postgresql:Z
# sets password for `postgres` when `POSTGRES_USER` is not specified
Environment=POSTGRES_PASSWORD=password

[Install]
WantedBy=multi-user.target