[Unit]
Description=redis container
Requires=soc-network.service
After=soc-network.service

[Container]
ContainerName=redis
Image=docker.io/library/redis:latest
Network=soc.network
Volume=redisdata:/data:Z
HealthCmd=/usr/local/bin/redis-cli ping
HealthInterval=5
HealthTimeout=1s
HealthRetries=3

[Install]
WantedBy=multi-user.target