[Unit]
Description=traefik container
Requires=soc-network.service
After=soc-network.service

[Container]
ContainerName=traefik
Image=docker.io/library/traefik:latest
Network=soc.network
PublishPort=80:80
PublishPort=443:443
Volume=/var/run/docker.sock:/var/run/docker.sock:ro
Volume=traefik-tls.volume:/etc/traefik/tls:ro
Volume=traefik-dynamic.volume:/etc/traefik/dynamic:ro
NoNewPrivileges=true
Label=traefik.enable=true
Label=traefik.http.routers.dashboard.rule=Host(`traefik.vx`)
Label=traefik.http.routers.dashboard.entrypoints=websecure
Label=traefik.http.routers.dashboard.service=api@internal
Label=traefik.http.routers.dashboard.tls=true
Exec=--api.insecure=false
Exec=--api.dashboard=true
Exec=--providers.docker=true
Exec=--providers.docker.exposedbydefault=false
Exec=--providers.docker.network=proxy
Exec=--providers.file.directory=/etc/traefik/dynamic
Exec=--entryPoints.web.address=:80
Exec=--entryPoints.web.http.redirections.entryPoint.to=websecure
Exec=--entryPoints.web.http.redirections.entryPoint.scheme=https
Exec=--entryPoints.web.http.redirections.entryPoint.permanent=true
Exec=--entryPoints.websecure.address=:443
Exec=--entryPoints.websecure.http.tls=true

[Install]
WantedBy=multi-user.target