[Unit]
Description=worker container
Requires=opencti.service
After=opencti.service

[Container]
ContainerName=worker
Image=docker.io/opencti/worker:latest
Network=soc.network
Environment=OPENCTI_URL=http://opencti:8080
Environment=OPENCTI_TOKEN=27cf31af-5f0a-40b0-b1eb-9fcf1d0a1c3d
Environment=WORKER_LOG_LEVEL=info

[Install]
WantedBy=multi-user.target